html,
body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #7084a1;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-weight: normal;
    color: white;
}

.sub-title {
    text-align: center;
    font-size: 2em;
    color: white;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.card:hover {
    transform: scale(1.05);
    transition: .25s;
    cursor: pointer;
}

.card-content {
    padding: 20px;
    font-family: "Arial";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}

.card-content h3 {
    margin-top: 0;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #7084a1;
    height: 50px;
    padding: 10px;
}

button {
    text-align: center;
    background-color: #666;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}

.card button {
    background-color: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
}

.homeImage {
    display: flex;
    justify-content: center;
}

.homeImage img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.searchBarSection {
    display: flex;
    padding-top: 70px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: white;
}

.searchBarContainer {
    width: 50%;
    display: flex;
    position: relative;
    border: 3px solid #666;
    border-radius: 25px;
    padding: 10px;
    height: 20px;
    align-items: center;
    background-color: #ebebeb;
    
}

.searchBarContainer:hover {
    background:rgba(0, 0, 0, .12);
    transition: 0.1s;
}

#searchBar {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.operations {
    position: relative;
    /* position: sticky;
    top: 0; */
    /* border: 5px solid #666; */
    border-bottom: 5px solid #666;
    padding: 30px;
    padding-right:50px;
    padding-left:50px;
    background-color: white;
}

.filterSection {
    position: relative;
    display: inline-block;
}

.filterSection p {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#rangeValue {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding: 5px;
}

#slider {
    appearance: none;
    width: 300px;
    height: 10px;
    background: #7084a1;
    border-radius: 15px;
    bottom: 100px;
    margin: 20px;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border: 3px solid #7084a1;
    border-radius: 15px;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    border-radius: 15px;
    cursor: pointer;
}

.filterSection span {
    /* position: absolute; */
    border: 3px solid #666;
    border-radius: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    top: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.filterSection span:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .12);
    transition: 0.1s;
}

.sortBtn {
    display: inline-block;
    position: absolute;
    border: 3px solid #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    top: 41px;
    right: 13vw;
}

.sortBtn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .12);
    transition: 0.1s;
}

.sortContainer {
    display: flex;
    align-items: center;
}

.sortText {
    position: relative;
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#droppedBtns {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border: 3px solid #666;
    border-radius: 10px;
}

#droppedBtns span {
    font-size: 20px;
    padding: 10px;
}

#droppedBtns span:hover {
    color: #7084a1;
}

.resetBtn {
    display: inline-block;
    position: absolute;
    border: 3px solid #666;
    border-radius: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    top: 42px;
    right: 3vw;
}

.resetBtn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .12);
    transition: 0.1s;
}

#result-number {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}